{% extends "layout.html" %}

{% block title %}
  Memberships
{% endblock %}

{% block main %}
<div class="pagetitle">



  <div class="d-flex align-items-center mb-3">
  <h1 style="margin-top:10px; width:100%">Expensas:</h1>
      <div class="" style="display: inline-block;">
        <div style="display: inline-block;margin-bottom:10px;margin-top:14px;">
          <div class="btn-group">
            <button class="btn btn-primary ms-auto mr-2" type="button" style="white-space: nowrap;"  aria-haspopup="true" aria-expanded="false" data-bs-toggle="modal" data-bs-target="#createNewExpense">
            <i class="bi bi-plus-lg "></i> Registrar expensa:
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    

<section class="section dashboard">

  <div class="col-lg-12">
    <form action="{{ url_for('expenses') }}" method="GET" class="mb-3">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Buscar expensa por nombre" value="{{query}}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>
    
    <div class="table-responsive" style="border-radius: 10px; overflow: hidden;">
    <table class="table table-hover">
      <thead style="vertical-align: middle;">
        <tr>
          <th scope="col">Nombre</th>
          <th scope="col">Tipo</th>
          <th scope="col">Monto</th>
          <th scope="col">Fecha</th>
          <th scope="col"></th> <!-- New column for buttons -->

        </tr>
      </thead>
      <tbody style="vertical-align: middle;" >
        {% for expense in expenses %}
        <tr>
          <td>{{ expense['name'] }}</td>
          <td> {{ expense['type'] }}</td>
          <td>{{ expense['price'] }}</td>
          <td>{{ expense['date'] }}</td>        
          <td style="padding-top: 10px;"> <!-- Actions column -->
            <form action="/delete_expense/{{ expense['id'] }}" method="post" style="display: inline-block;">
                <button type="submit" class="btn btn-outline-danger btn-sm" style="background-color: transparent;  vertical-align: middle;" onclick="return confirm('Una vez borrado no se podrán recuperar los datos de la expensa. ¿Desea borrarlo sabiendo esto?')">
                    <i class="bi bi-trash" style="font-size: 1.1em; color: red;"></i> <!-- Delete icon -->
                </button> <!-- Delete button -->
            </form>
        </td>
      </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  </div>
</section>

<!--Create Membership Modal-->
<div class="modal fade" id="createNewExpense" tabindex="-1" aria-labelledby="createNewExpenseLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createNewExpense">Registrar Nueva Expensa: </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="/create_new_expense" method="post" >
          <!--Name label-->
          <div class="mb-3">
            <label for="expenseName" class="form-label">Nombre:</label>
            <div class="input-group">
              <input type="text" class="form-control" name="expenseName" id="expenseName" placeholder="Ingrese el nombre del miembro">
              <div class="dropdown">
              </div>
            </div>
          </div>
          <!--Price label-->
          <div class="mb-3 row">
            <div class="col-6">
              <label for="expensePrice" class="form-label">Monto:</label>
              <div class="input-group">
                <span class="input-group-text">$</span>
                <input type="number" class="form-control"  id="expensePrice" name="expensePrice" placeholder="Ingrese Monto" min="1" value="1">
              </div>
            </div>
            <!-- Type label -->
            <div class="col-6">
                <label for="expenseType" class="form-label">Tipo:</label>
                <div class="input-group">
                <select class="form-select" id="expenseType" name="expenseType">
                    <option value="Servicios">Servicios</option>
                    <option value="Alquiler/Comision">Alquiler/Comision</option>
                    <option value="Equipo">Equipo</option>
                    <option value="Publicidad">Publicidad y marketing</option>
                    <option value="Limpieza/Mantenimiento">Limpieza/Mantenimiento</option>
                    <option value="Generales">Gastos Generales</option>
                </select>
                </div>
            </div>
          </div>
        <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Crear</button>
        </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}
