{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block main %}


<section class="section dashboard">
  <div class="row">

<!-- Dashboard cards -->
<div class="col-lg-12" style="margin-bottom: 8%;">

  <!-- Start row -->
    <div class="row">

    <!-- Start Income Card -->
      <div class="col-xl-6 col-lg-6 mb-4">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Ingresos:</h5>
                <span class="h2 font-weight-bold mb-0">$</span>
                <span class="h2 font-weight-bold mb-0">350.897</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                  <i class="fas fa-wallet"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-success mr-2"><i class="fa fa-arrow-up"></i> 3.48%</span>
              <span class="text-nowrap">Desde el mes pasado</span>
            </p>
          </div>
        </div>
      </div>
      <!-- End Income Card -->

      <!-- Start New Members Card-->
      <div class="col-xl-6 col-lg-6 mb-2">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Nuevos Miembros:</h5>
                <span class="h2 font-weight-bold mb-0">23 personas</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-success text-white rounded-circle shadow">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-danger mr-2"><i class="fas fa-arrow-down"></i> 3.48%</span>
              <span class="text-nowrap">Desde el mes pasado</span>
            </p>
          </div>
        </div>
      </div>
      <!-- End New Members Card-->

      <!-- Start Expenses Card-->
      <div class="col-xl-6 col-lg-6 mb-2">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-muted mb-0">Expensas:</h5>
                <span class="h2 font-weight-bold mb-0">$</span>
                <span class="h2 font-weight-bold mb-0">52.410</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                  <i class="fas fa-credit-card"></i>
                </div>
              </div>
            </div>
            <p class="mt-3 mb-0 text-muted text-sm">
              <span class="text-warning mr-2"><i class="fas fa-arrow-down"></i> 1.10%</span>
              <span class="text-nowrap">Desde el mes pasado</span>
            </p>
          </div>
        </div>
      </div>
      <!-- End Expenses Card-->
    
      <!-- Start Active Members Card -->
      <div class="col-xl-6 col-lg-6">
        <div class="card card-stats mb-4 mb-xl-0">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <h5 class="card-title text-muted" style="margin-bottom: 17px;">Miembros Activos:</h5>
                
                <span class="h2 font-weight-bold mt-0 mb-0 ">75 personas</span>
              </div>
              <div class="col-auto">
                <div class="icon icon-shape bg-yellow text-white rounded-circle shadow">
                  <i class="fas fa-users"></i>
                </div>
              </div>
            </div>
            <br>
          </div>
        </div>
      </div>
    </div>
    <!-- End Active Members Card-->

</div><!-- End Dashboard cards -->

{% endblock %}
