{% extends "layout.html" %}

{% block title %}
  Dashboard
{% endblock %}

{% block main %}


<section class="section dashboard">
    <div class="row">

<!-- Dashboard cards -->
<div class="col-lg-12">
  <!-- Start row -->
  <div class="row">

    <!-- Start Income Card -->
    <!-- End Income Card -->

    <!-- Start Active Members Card -->
    <!-- End Active Members Card-->

    <!-- Start New Members Card-->
    <!-- End New Members Card-->

    <!-- Start Expenses Card-->
    <!-- End Expenses Card-->

  </div><!-- Start row -->
</div><!-- End Dashboard cards -->

{% endblock %}
