{% extends "layout.html" %}

{% block title %}
  Memberships
{% endblock %}

{% block main %}
<div class="pagetitle">



  <div class="d-flex align-items-center mb-3">
  <h1 style="margin-top:10px; width:100%">Membresias:</h1>
      <div class="" style="display: inline-block;">
        <div style="display: inline-block;margin-bottom:10px;margin-top:14px;">
          <div class="btn-group">
            <button class="btn btn-primary ms-auto mr-2" type="button" style="white-space: nowrap;"  aria-haspopup="true" aria-expanded="false" data-bs-toggle="modal" data-bs-target="#createNewMembershipModal">
            <i class="bi bi-plus-lg "></i>   Agregar Miembro
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
    

<section class="section dashboard">

  <div class="col-lg-12">
    <form action="{{ url_for('memberships') }}" method="GET" class="mb-3">
      <div class="input-group">
        <input type="text" name="query" class="form-control" placeholder="Buscar miembro por nombre" value="{{query}}">
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </form>
    
    <div class="table-responsive-sm" style="border-radius: 10px; overflow: hidden;">
      <table class="table table-hover">
        <thead style="vertical-align: middle;">
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Plan</th>
            <th scope="col">Rutina</th>
            <th scope="col">Estado</th>
            <th scope="col">Gmail</th>
            <th scope="col">Número</th>
            <th scope="col">Fecha de inicio</th>
            <th scope="col"></th> <!-- New column for buttons -->
            <th scope="col"></th> <!-- New column for buttons -->
            <th scope="col"></th>

          </tr>
        </thead>
        <tbody style="vertical-align: middle;" >
          {% for member in members %}
          <tr>
            <td>{{ member['name'] }}</td>
            <td>
              {% for plan in plans %}
                {% if member['plan_id'] == plan['id'] %}
                  {{plan.name}}
                {% endif %}
              {% endfor %}
            </td>
            <td>
              {% for routine in routines %}
                {% if member['routine_id'] == routine['id'] %}
                  {{routine.name}}
                {% endif %}
              {% endfor %}
            </td>
            <td>{{member.status}}</td>
            <td>{{member.email}}</td>
            <td>{{member.emergency_contact}}</td>
            <td>{{member.start_date}}</td>

            <td style="padding-top: 10px;">
              <form id="toggleForm" action="/toggle_send_email/{{member['id']}}" method="post" style="display: inline-block;">
                <button type="submit" class="btn btn-sm 
                  {% if member['reminded'] == 2 %}
                    btn-outline-secondary
                  {% else %}
                    btn-secondary
                  {% endif %}
                  " style=" vertical-align: middle ;">
                  <i class="bi bi-envelope" style="font-size: 1.1em; "></i>
                </button>
              </form>
            </td>
            

            <td style="padding-top: 10px;"> <!-- Actions column -->
              <button class="edit-member-btn btn btn-outline-primary btn-sm" style="  vertical-align: middle;" type="button" data-bs-target="#editMemberModal" data-bs-toggle="modal" data-member-id="{{member['id']}}" aria-haspopup="true" aria-expanded="false" >
                <i class="bi bi-pencil" style="font-size: 1em; "></i> <!-- Edit icon -->
              </button>
            </td>
          
            <td style="padding-top: 10px;"> <!-- Actions column -->
              <form action="/delete_member/{{ member['id'] }}" method="post" style="display: inline-block;">
                  <button type="submit" class="btn btn-outline-danger btn-sm" style="  vertical-align: middle;" onclick="return confirm('Una vez borrado no se podrán recuperar los datos del miembro. ¿Desea borrarlo sabiendo esto?')">
                      <i class="bi bi-trash" style="font-size: 1.1em; "></i> <!-- Delete icon -->
                  </button> <!-- Delete button -->
              </form>
          </td>
        </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  </div>
</section>

<!--Create Membership Modal-->
<div class="modal fade" id="createNewMembershipModal" tabindex="-1" aria-labelledby="createNewMembershipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="createNewMembershipModalLabel">Agregar Nuevo Miembro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="/create_new_membership" method="post" >
          <!--Name label-->
          <div class="mb-3">
            <label for="membership_name" class="form-label">Nombre Completo:</label>
            <div class="input-group">
              <input type="text" class="form-control" name="membershipName" id="membershipName" placeholder="Ingrese el nombre del miembro">
              <div class="dropdown">
              </div>
            </div>
          </div>
          <!--Emergency N°  label-->
          <div class="mb-3 row">
            <div class="col-6">
              <label for="membershipNumber" class="form-label">N° Emergencias:</label>
              <input type="membershipNumber" name="membershipNumber" class="form-control" id="membershipNumber" placeholder="Número para emergencias">
          </div>
          <!--Gender  label-->
            <div class="col-6">
              <label for="membershipGender" class="form-label">Género:</label>  
              <div class="input-group">
                <select class="form-select" id="membershipGender" name="membershipGender">
                  <option value="men">Hombre</option>
                  <option value="women">Mujer</option>

                </select>
              </div>
          </div>
        </div>

          <!--Plan label-->
          <div class="mb-3 row">
            <div class="col-6">
              <label for="membershipPlan" class="form-label">Plan:</label>
              <div class="input-group">
                <select class="form-select" id="membershipPlan" name="membershipPlan">
                  <option value="0">Sin determinar</option>
                  {% for plan in plans %}
                    {% if plan['id'] == 0 %}
                     <option value="{{ plan['id'] }}"> Sin Determinar</option>
                    {% else %}
                      <option value="{{ plan['id'] }}">{{ plan['name'] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
            <!--Rutine label-->
            <div class="col-6">
              <label for="days" class="form-label">Rutina:</label>
              <select class="form-select" id="membershiRoutine" name="membershipRoutine">
                  <!-- Implementar for recorriendo la base de datos y agregando las opciones -->
                  <option value="0">Sin determinar</option>
                  {% for routine in routines %}
                    {% if routine['id'] == 0 %}
                      <option value="{{ routine['id'] }}">Sin Determinar</option>
                    {% else %}
                      <option value="{{ routine['id'] }}">{{ routine['name'] }}</option>
                    {% endif %}
                  {% endfor %}
              </select>
            </div>
            </div>

            <!--Email  label-->
            <div class="mb-3 row">
              <div class="col-6">
                <label for="membershipEmail" class="form-label">Email:</label>
                <input type="membershipEmail" name="membershipEmail" class="form-control" id="membershipEmail" placeholder="Ingrese el Email">
              </div>

            <!--payment label-->
            <div class="col-6">
              <label for="membershipPayment" class="form-label">Pago:</label>
                <select class="form-select" id="membershipPayment" name="membershipPayment">
                  <!--Implementar for recorriendo la base de datos y agregando las opciones-->
                  <option value="Efectivo">Efectivo</option>
                  <option value="Transferencia">Transferencia</option>
                  <option value="Pendiente">Pendiente</option>
                </select>
            </div>
            </div>

            <!--Description label-->
            <div class="mb-3">
              <label for="membershipDescription" class="form-label">Descripción:</label>
              <textarea class="form-control" id="membershipDescription" name="membershipDescription" placeholder="Ingrese una Descripcion"></textarea>
            </div>
          </div>
              <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Crear</button>
              </div>
            </form>
      </div>
  </div>
</div>


<!-- Edit Membership Modal -->
<div class="modal fade" id="editMembershipModal" tabindex="-1" aria-labelledby="editMembershipModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editMembershipModalLabel">Editar Miembro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form id="editMemberForm" method="post">
          <!-- Name label -->
          <div class="mb-3">
            <label for="editMembershipName" class="form-label">Nombre:</label>
            <div class="input-group">
              <input type="text" class="form-control" name="editMembershipName" id="editMembershipName" placeholder="Ingrese el nombre del miembro">
            </div>
          </div>
          <!-- Plan label -->
          <div class="mb-3 row">
            <div class="col-6">
              <label for="editMembershipPlan" class="form-label">Plan:</label>
              <div class="input-group">
                <select class="form-select" id="editMembershipPlan" name="editMembershipPlan">
                  {% for plan in plans %}
                    <option value="{{ plan['id'] }}">{{ plan['name'] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <!-- Routine label -->
            <div class="col-6">
              <label for="editMembershipRoutine" class="form-label">Rutina:</label>
              <div class="input-group">
                <select class="form-select" id="editMembershipRoutine" name="editMembershipRoutine">
                  {% for routine in routines %}
                    <option value="{{ routine['id'] }}">{{ routine['name'] }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <!-- Email and Payment label -->
          <div class="mb-3 row">
            <div class="col-6">
              <label for="editMembershipEmail" class="form-label">Email:</label>
              <div class="input-group">
                <input type="email" class="form-control" name="editMembershipEmail" id="editMembershipEmail" placeholder="Ingrese el Email">
              </div>
            </div>
            <div class="col-6">
              <label for="editMembershipNumber" class="form-label">N° Emergencias:</label>
              <input type="text" name="editMembershipNumber" class="form-control" id="editMembershipNumber" placeholder="Número para emergencias">
            </div>
          </div>
          <!-- Description label -->
          <div class="mb-3">
            <label for="editMembershipDescription" class="form-label">Descripción:</label>
            <textarea class="form-control" id="editMembershipDescription" name="editMembershipDescription" placeholder="Ingrese una Descripción"></textarea>
          </div>
          <!-- Submit button -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Editar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock %}
